body {
    background-image: url("../images/body1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#logo {
    background-image: url("../images/header2.jpg"); width: 1644px; height: 300px; 
    border: 2px solid gray;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
   
}

.jumbotron {
    margin-top: 3%;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    opacity: 0.9;

} 

.recipe-center {
  margin-right: auto;
  margin-left: auto;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 300px; 
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#search-bar {
    border-radius: 5px;
}


footer {
    padding: 15px 0;
    clear: both;
    font-size: 12px;
    color: red;
    text-align: center;
    background: #aaaa;
    height: 30px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

#food-data1 {
    background: #aaaa;
    margin-right: 10%;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}


#food-data2 {
    background: #bbbbbb;
    overflow: auto;
    background: #aaaa;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

/* for the choices display after searching for an ingredient */
.choices {
    border: black 2px solid; 
    border-radius: 5%;
    margin-bottom: 10px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    background-color: white;
    color: black;
}

.choices:hover{
    background-color: black;
    color: white;
}


/* for the nutriti labels */

body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
  background: white;
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;

}
.performance-facts__table {
    width: 100%;
    overflow: auto;
}
.performance-facts__table th{
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black; 
    border-width: 75%
}
.performance-facts__table td{
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black; 
    white-space: nowrap;
    border-width: 75%
}
.blank-cell {
    width: 1rem;
    border-top: 0;
}
.thick-row th, td {
    border-top-width: 5px;
}
.small-info {
  font-size: 0.7rem;
}


.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.dailyVal {
    border-bottom: none;
    float: right;
}

.percentage {
    float:right;
}
